<script>
    export default {
        name: "search"
    }
</script>

<template>
    <div class="global_search">
        <label>
            <input required>
            <span class="placeholder">
                <i class="material-icons icon">search</i>
                <span class="text">Search</span>
            </span>
        </label>
    </div>
</template>

