
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "dashboard/dashboard";
@import "search/search";
@import "externals";
@import "ui/loader";


*, body, html {
  font-family:  proxima-nova, sans-serif;
}

body {
  background: rgb(0, 0, 0);

}

.categories {
  padding: 10px 2%;
  h3 {
    color: #767676;
    font-size: 18px;

    span {
      color: #767676;
    }
  }
}
