<script>
    import events from '../../events';
    export default {
        name: "pageBody",
        data:()=>({
            topbarCollapsed: false
        }),
        created() {
            events.bus.$on('toggle-sidebar', (status)=>{
                this.topbarCollapsed = status;
            })
        }
    }
</script>

<style scoped>

</style>