<script>
    import events from '../../events';
    export default {
        name: "topbar",
        data: ()=>({
            mobileMenuActive: false
        }),
        methods:{
            openMobileMenu(){
                events.bus.$emit('openMobileMenu');
            }
        }
    }
</script>

<style scoped>

</style>