<template>
    <div>
        <div class="global_search">
            <h3>Products Store</h3>
        </div>

        <div class="product_form">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name"></label>
                            <input v-model="product.name" type="text" name="name" id="name" class="name form-control"
                                   placeholder="Enter Product Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="quantity"></label>
                            <input v-model="product.quantity" type="text" name="quantity" id="quantity"
                                   class="quantity form-control"
                                   placeholder="Quantity">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="price"></label>
                            <input v-model="product.price" type="text" name="price" id="price"
                                   class="price form-control" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>

                <button class="btn btn-primary" v-on:click.prevent=" editing ? updateProduct() : create()">Submit
                </button> &nbsp;
                <button class="btn btn-danger" v-on:click.prevent="finishEditing()">Cancel</button>
            </form>

        </div>
        <br><br>
        <div class="product_list">
            <table class="table table-dark" width="50%">
                <thead>
                <tr>
                    <td scope="col">Product Name</td>
                    <td scope="col">Quantity in Stock</td>
                    <td scope="col">Price per Item</td>
                    <td scope="col">Date Submitted</td>
                    <td scope="col">Value</td>
                    <td scope="col">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products">
                    <td v-text="product.name"></td>
                    <td v-text="product.quantity"></td>
                    <td v-text="product.price"></td>
                    <td v-text="moment(product.created_at).format('MMMM Do YYYY, h:mm:ss a')"></td>
                    <td v-text="product.value"></td>
                    <td><a @click.prevent="edit(product)">Edit</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">Total</td>
                    <td>{{ total }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>

require('moment')

export default {
    name: "products",
    data: () => ({
        products: [],
        product: {},
        error: '',
        editing: false,
        total: 0
    }),

    methods: {
        create() {
            axios.post('/api/products', this.product)
                .then((response) => {
                    this.getProducts();
                    this.product = {};
                }).catch((response) => {
                this.error = "Sorry Something went wrong";
            })
        },

        edit(product) {
            this.editing = true;
            this.product = product;
        },

        getProducts() {
            axios.get('/api/products')
                .then(response => {
                    this.products = response.data.products;
                    this.total = response.data.total;
                }).catch((response) => {
                this.error = "Sorry Something went wrong";
            })
        },
        updateProduct() {
            axios.put('/api/products/update/' + this.product.id, this.product)
                .then(response => {
                    this.getProducts();
                    this.finishEditing();
                }).catch(response => {
                this.error = "Sorry Something went wrong";
            })
        },

        finishEditing() {
            this.product = {};
            this.editing = false;
        }
    },

    mounted() {
        this.getProducts();
    }
}
</script>
