.playarea {
  width: calc(100% - 250px);
  margin-left: 250px;
  display: flex;
  background: rgb(0, 0, 0);
  color: #a4aaae;


  padding: 70px 20px 90px 20px;
  overflow-y: auto;

  transition: .4s;

  &.topbar_collapsed{
    width: calc(100% - 60px);
    margin-left: 60px;

  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -50px;

    &__search {
      max-height: 70px;
      padding: 0 2%;
    }

  }
}

@media screen and (max-width: 1024px){
  .playarea {
    width: 100%;
    margin-left: 0;

    &.topbar_collapsed{
      width: 100%;
      margin-left: 0;
    }

    &__advertarea {
      display: none;
    }
  }
}
