.footer_player {
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 0;
  width: 100%;
  //background-image: linear-gradient(to right top, #323232, #373737, #3b3b3b, #404040, #454545);
  background-image: linear-gradient(to right top, #1e1e1e, #2a2a2a, #373737, #444444, #525151);
  height: 80px;
  min-height: 50px;
  z-index: 30;

  border-top: 1px solid #454545;


  -webkit-box-shadow: inset -1px 3px 38px -5px rgba(0,0,0,0.63);
  -moz-box-shadow: inset -1px 3px 38px -5px rgba(0,0,0,0.63);
  box-shadow: inset -1px 3px 38px -5px rgba(0,0,0,0.63);

}