.sidebar {
  width: 250px;
  position: fixed;

  margin-bottom: 80px;

  bottom: 0;
  top: 0;
  left: 0;
  z-index: 500;

  //background: rgba(0, 0, 0, 0.9);
  background: #323232;
  color: #ffffff;

  display: flex;
  flex-direction: column;

  transition: .4s;

  $s: &;



  &__logo {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 70px;

    font-size: 16px;

    img {
      max-height: 50px;
    }
  }

  &__menu{
    display: flex;
    flex-direction: column;
    flex: 2;
    transition: .4s;

    ul{
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start:0;
      li{
        list-style: none;
        margin: 5px 0;
        padding: 5px 0;
        width: 100%;
        a{
          display: flex;
          align-items: center;
          height: 35px;
          width: 100%;
          font-size: 16px;
          padding: 20px 10px 20px 30px;
          text-decoration: none;
          color: #ffffff;

          i {
            margin-right: 10px;
          }

          &:hover{
            background: #000000;
            border-left: 5px solid #0082c2;
            padding: 20px 10px 20px 25px;
          }
        }
      }
    }
  }

  &__toggle {
    background: #242424;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    .toggle_icon {
      color: #222222;
      i {
        background: #fff;
        border-radius: 50%;
      }
    }
  }





  &.collapsed {
    width: 60px;
    overflow: hidden;

    #{$s}__logo{
      padding: 10px;
      span {
        visibility: hidden;
      }

      img {
        width: 45px;
      }
    }

    #{$s}__menu{
      span {
        visibility: hidden;

      }
      ul{
        li{
          a{
            padding: 20px 10px 20px 20px;

            &:hover{
              padding: 20px 10px 20px 15px;
            }
          }

        }
      }

    }


    #{$s}__toggle{
      .toggle_text{
        display: none;
      }
      .toggle_icon{
        i {
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }


}

@media screen and (max-width: 1024px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    margin-bottom: 0;
    height: 100vh;

    visibility: hidden;
    width: 0;

    $ms: &;

    &__menu{
      display: none;
      width: 0;
      overflow: hidden;
      ul {
        display: none;
      }
    }



    &__logo{
      display: none;
    }

    &__toggle{
      display: none;
    }

    &.mobile_active {
      visibility: visible;
      width: 250px;

      #{$ms}__menu{
        display: block;
        width: auto;
        ul {
          display: block;
        }
      }

    }


  }
}
