.topbar {
  display: flex;
  height: 0;
  background: #000000;
  justify-content: space-between;
  position: fixed;

  z-index: 450;
  top: 0;
  right: 0;
  left: 0;

  &__logo {
    display: none;
    flex: 1;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    max-height: 70px;
    max-width: 250px;

    font-size: 16px;

    img {
      max-height: 50px;
    }
  }

  &__search {
    width: calc(100% - 250px);

    flex: 2;
    padding: 0 20px;
    margin-left: 250px;
  }

  &__toggle {
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    .toggle_icon {
      font-size: 44px;
      i {
        color: #ffffff;
        font-size: 44px;

      }
    }
  }

}

.topbar_collapsed {
  .topbar {
    width: calc(100% - 50px);
    margin-left: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .topbar {
    display: flex;

    &__logo {
      display: flex;
    }

    &__search {
      display: flex;
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }

    &__toggle {
      display: flex;
    }

  }
}

@media screen and (max-width: 650px) {
  .topbar {

    &__search {
      display: none;
    }

  }
}
