.global_search, .product_form, .product_list {
  margin: 0 auto;
  width: 95%;
  background: transparent;

  label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 45px;
  }


  .placeholder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    font-size: 16px;
    transition: all 200ms ease-in-out;
    width: 100%;
    cursor: text;
    font-weight: lighter;

    .icon {
      padding-right: 5px;
      top: 15px;
      position: absolute;
      bottom: 5px;
      font-size: 28px;
    }

    .text {
      top: 18px;
      position: absolute;
      left: 30px;
      bottom: 5px;
      transition: .4s;
    }
  }



  input {
    position: absolute;
    background: transparent;
    color: #fff9f0;
    top: 15px;
    z-index: 1;
    width: 100%;
    font-size: 16px;
    font-weight: lighter;
    border: 0;
    border-bottom: 1px solid grey;
    transition: border-color 200ms ease-in-out;
    outline: none;
    padding: 0 0 0 30px;
    margin: 0;
    height: 30px;

    &:focus, &:valid {
      border-bottom: 2px solid rgba(242, 154, 2, 0.72);
    }

  }

  input:focus + .placeholder .text, input:valid + .placeholder .text    {
    top: 0;
    cursor: inherit;
    font-size: 14px;
    color: orange;
    opacity: .5;
  }

  input:focus + .placeholder .icon, input:valid + .placeholder .icon    {
    color: orange;
    opacity: .5;

  }
}
